@font-face {
    font-family: "Cherry";
    src: url(../../fonts/CherrySwash/CherrySwash-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "CherryBold";
    src: url(../../fonts/CherrySwash/CherrySwash-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url(../../fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "PoppinsBold";
    src: url(../../fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "PoppinsThin";
    src: url(../../fonts/Poppins/Poppins-Thin.ttf);
    font-weight: 100;
}

