@use "../base/font-face";

$font-title-1: "CherryBold";
$font-h3: "Cherry";
$font-primary: "Poppins";
$font-h2: "PoppinsBold";
$font-thin : "PoppinsThin";


$color-black: #1C1515;
$color-white: #ffffff;
$color-pink: #FF4EB1;
$color-purple: #C06CFF;
$color-blue: #4FD1FF;
$color-yellow: #FFE04E;