@use "../abstracts/variables" as variable;

@keyframes sparkle {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes sparkle-input {
    0%   { box-shadow: 0 0 10px rgba(variable.$color-pink, 0.6); }
    50%  { box-shadow: 0 0 20px rgba(variable.$color-purple, 0.5); }
    100% { box-shadow: 0 0 10px rgba(variable.$color-pink, 0.6); }
}

@keyframes bubble-pop {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}