@use "../abstracts/variables" as variable;

.btn-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: auto;

    .btn {
    padding: 0.6rem 1.2rem;
    background: variable.$color-purple;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
    text-decoration: none;
    transition: background 0.3s;

        &:hover {
        background: variable.$color-blue;
        }
    }
}