@use "../abstracts/variables" as variable;

/* FOOTER  */
footer {
    position: fixed;
    bottom: 1rem;
    right: 1rem; // ou right: 2rem; si tu veux à droite
    background: linear-gradient(
        180deg,
        variable.$color-pink,
        variable.$color-purple,
        variable.$color-blue
    );
    font-size: 0.8rem;
    color: white;
    width: 100px;
    padding: 2rem 1rem;
    border-radius: 3rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    animation: bubble-pop 0.8s ease-out both;
    z-index: 99;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    }
}

