@use "../abstracts/variables" as variable;
/* HEADER  */
header {
    text-align: center;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.title img {
    width: 60px;
    height: 60px;
}