@use "../abstracts/variables" as variable;
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, variable.$color-pink,variable.$color-purple,variable.$color-blue);
    color: white;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: variable.$color-white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: variable.$color-yellow;
}

.auth a{
    background: rgba(255, 255, 255, 0.2);
    padding: 0.5rem 1rem;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    transition: color 0.3s ease;
}

.navbar img {
  width: 50px;  
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid variable.$color-white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

ul.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}